In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [2]:
clf = RandomForestClassifier() #RandomForestClassifier(n_jobs=-1,max_features= 'sqrt' ,n_estimators=50, oob_score = True) 

#param_grid = {'n_estimators': [200, 700], 'max_features': ['auto', 'sqrt', 'log2']}

#clf = GridSearchCV(estimator=clf, param_grid=param_grid, cv=5, n_jobs=4)

In [3]:
df = pd.read_excel("transformed6.xlsx")

In [4]:
df = df.fillna(df.mean())
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [5]:
df1 = df.fillna(method='ffill')
#df1 = df1.drop(['Vehicle 1 Trim', 'Engine Size', 'Engine Block', 'Auto In The Market: New', 'Auto In The Market: Used', 'Model 1', 'Engine Cylinders', 'Drive Type', 'Fuel Type', 'Make 1'], axis=1)

In [6]:
ysplit = df1['Vehicle Type']
xsplit = df1.drop(['Vehicle Type'],axis=1)
dt = xsplit.select_dtypes(include=['datetime64'])
cat2 = list(dt.columns)
categorical = xsplit.select_dtypes(exclude=['float64'])
cat3 = list(categorical.columns)
cols = cat2 + cat3
le = preprocessing.LabelEncoder()
#xsplit[cols] = xsplit[cols].apply(lambda col: le.fit_transform(col))
xsplit = pd.get_dummies(xsplit, columns=cols)

In [33]:
bestfeatures = SelectKBest(score_func=chi2, k=10)
fit = bestfeatures.fit(xsplit,ysplit)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(xsplit.columns)
fes = pd.concat([dfcolumns,dfscores],axis=1)
fes.columns = ['Specs','Score']
fes.nlargest(15,'Score')
fes = fes.sort_values(by =['Score'],ascending=False)
large = fes.head(300)

corr = large['Specs'].values
xsplit1 = xsplit[corr]

In [39]:
large

                                    Specs          Score
2                                 Model 1  108797.065288
0                          Vehicle 1 Trim   63638.947075
7                                  Make 1    4000.390631
1                             Engine Size    2048.515368
4                              Drive Type    1905.963087
3                        Engine Cylinders     961.353808
15  Estimated Current Loan-to-Value Ratio     914.647908
23            Homeowner Probability Model     803.326830
14                           Engine Block     667.488393
12                      Person Occupation     142.455837
9                Auto In The Market: Used     109.479532
5                               Fuel Type      95.030348
11                Auto In The Market: New      72.469166
18               Est. Household Income V5      40.770676
22      Consumer View Profitability Score      32.798720
10                Number of Persons in LU      24.081669
6                           Dwelling Type      16.795223
17                Mosaic Global Household      11.934348
8                   Person Marital Status      11.158791
21                  Household Composition       6.403988
13           Children: Age 0-18 Version 3       4.446631
20  BehaviorBank: Presence of Credit Card       2.471085
19                       Person Education       1.152960
16                            Person Type       0.211289

In [35]:
xtrain, xtest = train_test_split(xsplit1, test_size=0.2)
ytrain, ytest = train_test_split(ysplit, test_size=0.2)

In [36]:
clf = clf.fit(xtrain,ytrain)

In [37]:
ypred = clf.predict(xtest)

In [38]:
accuracy_score(ytest,ypred)

0.4715